body {
  margin: 0;
}
section {
  min-height: 500px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
}
/**
 * Style 4 Header
 */
header {
  margin-top: 15px;
  margin-bottom: 15px;
}
header > ul > li {
  margin-bottom: 8px;
  text-align: center;
}
header > ul > li > a {
  text-decoration: none;
  color: gray;
}
/**
 * Media Query 4 small device
 */
@media screen and (min-width: 600px) {
  header > ul > li {
    margin-left: 15px;
    display: inline;
  }
}

/**
 * Home
 */
#home {
  position: relative;
  background-image: url(../img/arrows-blur-close-up-163130.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#home > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#home > div > h1 {
  color: ghostwhite;
  font-weight: bold;
}

/**
 * About
 */
#about {
  position: relative;
}
#about > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#about > div > h1 {
  margin: 0;
}
#about > div > hr {
  width: 60%;
  height: 1px;
}

/**
 * MWS Home Work
 */
#jobdesk {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffeaa7;
}
#jobdesk > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#jobdesk > div {
  text-align: center;
}

/**
 * Education
 */
#education {
  padding: 15px;
  position: relative;
  text-align: center;
}
.kotak {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.kotak > div {
  flex: 1;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .kotak {
    flex-direction: column;
  }
}

/**
 * Contact
 */
#contact {
  min-height: 300px;
  position: relative;
  padding: 50px;
  background-color: #ffeaa7;
}
#contact {
  position: relative;
}
#contact > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
